<div class="navbar">
    <div class="logo">
        <a routerLink="/" >
            <img
                src="image/WaterBels.png"
                height="100%"
            >
        </a>
    </div>
    <div class="links">
        <button class="cookie-clicker" (click)="onScrollToBottom()">
            <a href="#">
                Cookie clicker
            </a>
        </button>
        <button>
            <a class="score-board" [routerLink]="['/login']">
                Tableau des scores
            </a>
        </button>
    </div>
    <router-outlet></router-outlet>
</div>
