<div class="container">
  <h1>L'ergonomie : simplifier pour mieux vivre.</h1>
  <p>
    Appuyez sur la barre d'espace pour saisir du code Morse :<br />
    - Une courte pression correspond à un point (`.`).<br />
    - Une longue pression correspond à un trait (`-`).<br />
    - Une trés longue pression correspond à la séparation obligatoire entre chaque lettre . (plus de 1000 ms)<br />
    Exemple : HELLO	.... . .-.. .-.. ---<br />
              WORLD	.-- --- .-. .-.. -..
  </p>

  <input type="text"
         (keydown)="onKeyDown($event)"
         (keyup)="onKeyUp($event)"
         [value]="morseInput"
         placeholder="Appuyez sur espace ou modifiez" />

  <p class="output-label">Code Morse :</p>
  <input type="text"
         [value]="morseInput"
         placeholder="Code Morse généré"
         readonly />

  <p class="output-label">Traduction :</p>
  <input type="text"
         [value]="translatedText"
         placeholder="Traduction en clair"
         readonly />
</div>
